#profilna {
	height: auto;
	width: 15vh;
	border-radius: 50%;
}
h1 {
	font-size: 4em;
	flex-basis: 100%;
	font-weight: 900;
}
html {
	margin-left: 20%;
	margin-right: 10%;
	margin-bottom: 20%;
}

* {
	font-family: monospace;
	font-weight: 500;
	color: #1f1f1d;
	background-color: #eee;

	padding: 0;
	box-sizing: border-box;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
header div {
	flex-basis: 100%;
	margin-top: 20%;
	display: flex;
}
nav {
	flex-basis: 50%;
}

a {
	text-decoration: none;
	font-size: 1.5em;
	line-height: 2%;
}
li {
	margin-bottom: 5%;
}
ul {
	list-style-type: none;
}
a:hover {
	border-radius: 6%;
	border: 2px solid #1f1f1d;
}

@media (max-width: 1010px) {
	nav {
		flex-basis: 100%;
	}
}

@media (max-width: 600px) {
	html {
		margin-left: 0;
		margin-right: 0;
	}
	nav {
		flex-basis: 96%;
	}
	li {
		padding-bottom: 20px;
	}
}
